# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [3]:
import pandas as pd
dt = pd.DataFrame([[30, 21], [35, 21], [41, 34]], index = ['0', '2017 Sales', '2018 Sales'], columns = ['Apples', 'Bananas'])
dt

            Apples  Bananas
0               30       21
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [26]:
import pandas as pd
import numpy as np
dt = pd.DataFrame([['Austin', 139, 'Sun'], ['Dallas', 237, 'Sun'], ['Austin', 326, 'Mon'], ['Dallas', 456, 'Mon']], 
                  index = [0, 1, 2, 3], columns = ['city', 'visitor', 'weekday'])
dt

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [32]:
print('Sun: ', dt[dt['weekday'] == 'Sun']['visitor'].mean())
print('Mon: ', dt[dt['weekday'] == 'Mon']['visitor'].mean())

Sun:  188.0
Mon:  391.0